---
const { title } = Astro.props;
const { PrimaryLink } = Astro.props;
---

<a href={PrimaryLink} class="cursor-pointer inline-flex items-center py-2.5 px-5 text-center text-zinc-100 rounded-md bg-orange-500 hover:bg-orange-600">
    <span class="font-Inter font-medium">{title}</span>
</a>