---
const { title } = Astro.props;
---

<a href="#quoteSection" class="inline-flex items-center my-4 mx-2 py-2.5 px-5 text-center text-white rounded-md bg-orange-500 hover:bg-orange-600">
    <span class="font-Inter font-medium">{title}</span>
</a>