---

---

<section class="bg-white">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 xl:gap-16 lg:py-16 lg:px-6 ">
        <div class="space-y-8">

            <!-- Tagline & Header -->
            <div class="max-w-screen-xl space-y-6">
                <h2 class="text-lg tracking-tight font-medium text-gray-500">About Us</h2>
                <h3 class="text-6xl tracking-tight font-bold text-gray-900">Experience the Best Concrete Services in North Carolina</h3>
                <p class="lg:text-lg">Concrete Experts Company is dedicated to providing top-quality concrete services in North Carolina. With over 10 years of expertise, our team of experienced contractors delivers exceptional results for driveways, slabs, patios, footing foundations, sidewalks, and more.</p>
            </div>
            
            <!-- Stats Container Starts -->
            <div class="grid gap-6 lg:grid-cols-3 sm:grid-cols-1">

                <!-- Stat 1 -->
                <div class="flex">
                    <div>
                        <p class="mb-1 text-2xl font-bold tracking-tight text-gray-900">100+</p>
                        <p class="text-xl text-gray-500">Projects <br>Completed</p>
                    </div>
                </div>

                <!-- Stat 2 -->
                <div class="flex">
                    <div>
                        <p class="mb-1 text-2xl font-bold tracking-tight text-gray-900">10+</p>
                        <p class="text-xl text-gray-500">Years of <br>Experience</p>
                    </div>
                </div>

                <!-- Stat 3 -->
                <div class="flex">
                    <div>
                        <p class="mb-1 text-2xl font-bold tracking-tight text-gray-900">4.9</p>
                        <p class="text-xl text-gray-500">Stars on <br>Google</p>
                    </div>
                </div>

            </div>
            <!-- Stats Container Ends -->

            <!-- Learn More Button Starts -->
            <div>
                <a href="#" class="inline-flex items-center py-2.5 px-5 text-center text-orange-600 rounded-md border-2 border-orange-600 hover:bg-orange-600/5">
                    <span class="font-Inter font-medium">Learn More</span>
                </a>
            </div>
            <!-- Learn More Button Ends -->

        </div>
        <!-- Picture -->
        <img class="hidden mx-auto mb-4 sm:flex" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/social-proof/table-professor.svg" alt="table professor illustration">
    </div>
</section>