---

---

<section class="bg-white">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 xl:gap-16 lg:py-16 lg:px-6 ">
        <div class="text-gray-500 sm:text-lg">

            <!-- Tagline & Header -->
            <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 md:text-4xl">Stats that matter</h2>
            <p class="mb-8 font-light lg:text-xl">Our rigorous security and compliance standards are at the heart of all we do. We work tirelessly to protect you and your customers.</p>
            
            <!-- Stats Container Starts -->
            <div class="grid gap-6 lg:grid-cols-3 sm:grid-cols-1">

                <!-- Stat 1 -->
                <div class="flex">
                    <div>
                        <p class="mb-1 text-2xl font-extrabold tracking-tight text-gray-900">100+</p>
                        <p class="font-light text-gray-500">Projects Completed</p>
                    </div>
                </div>

                <!-- Stat 2 -->
                <div class="flex">
                    <div>
                        <p class="mb-1 text-2xl font-extrabold tracking-tight text-gray-900">10+</p>
                        <p class="font-light text-gray-500">Years of Experience</p>
                    </div>
                </div>

                <!-- Stat 3 -->
                <div class="flex">
                    <div>
                        <p class="mb-1 text-2xl font-extrabold tracking-tight text-gray-900">4.9</p>
                        <p class="font-light text-gray-500">Stars on Google</p>
                    </div>
                </div>

            </div>
            <!-- Stats Container Ends -->

        </div>
        <!-- Picture -->
        <img class="hidden mx-auto mb-4 sm:flex" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/social-proof/table-professor.svg" alt="table professor illustration">
    </div>
</section>