---

---

<section class="bg-[url('img/Image-22.jpg')] bg-no-repeat bg-cover bg-center bg-gray-900/70 bg-blend-multiply">
    <slot name="nav"></slot>
    <div class="relative mx-auto max-w-screen-xl text-white sm:py-4 md:py-5 lg:my-18">
        <div class="px-3 mb-6 max-w-screen-md sm:px-4 md:px-5">
            <slot></slot>
        </div> 
    </div>
</section>