---
import Tagline from "../components/Tagline.astro";
import H3 from "../components/H3.astro";
---

<section class="">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">

        <div class="max-w-screen-md mb-8 lg:mb-16">
            <Tagline text="Expert Concrete Services"></Tagline>
            <H3 text="Quality Concrete Solutions"></H3>
        </div>

        <!-- Service Container Starts -->
        <div class="space-y-8 sm:grid sm:grid-cols-2 lg:grid-cols-4 md:gap-12 md:space-y-0">

            <!-- Service 1 -->
            <div class="p-4 rounded-md transition ease-in-out group hover:bg-orange-500">
                <a href="#">
                    <div class="flex justify-center items-center mb-4 size-10 rounded-full *:transition *:ease-in-out lg:size-12">
                        <svg class="size-5 text-orange-600 lg:size-6 group-hover:hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden size-5 text-white lg:size-6 group-hover:block" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h10v10M7 17L17 7"/></svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold transition ease-in-out group-hover:text-white">Driveways</h3>
                    <p class="text-gray-500 transition ease-in-out group-hover:text-gray-50">We offer concrete installation services to transform your driveway into a durable and stylish masterpiece that enhances your property's look.</p>
                </a>
            </div>

            <!-- Service 2 -->
            <div class="p-4 rounded-md transition ease-in-out group hover:bg-orange-500">
                <a href="#">
                    <div class="flex justify-center items-center mb-4 size-10 rounded-full *:transition *:ease-in-out lg:size-12">
                        <svg class="size-5 text-orange-600 lg:size-6 group-hover:hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden size-5 text-white lg:size-6 group-hover:block" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h10v10M7 17L17 7"/></svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold transition ease-in-out group-hover:text-white">Slabs</h3>
                    <p class="text-gray-500 transition ease-in-out group-hover:text-gray-50">Get a durable and stylish concrete slab for your driveway with our installation services.</p>
                </a>
            </div>

            <!-- Service 3 -->
            <div class="p-4 rounded-md transition ease-in-out group hover:bg-orange-500">
                <a href="#">
                    <div class="flex justify-center items-center mb-4 size-10 rounded-full *:transition *:ease-in-out lg:size-12">
                        <svg class="size-5 text-orange-600 lg:size-6 group-hover:hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden size-5 text-white lg:size-6 group-hover:block" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h10v10M7 17L17 7"/></svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold transition ease-in-out group-hover:text-white">Sidewalks</h3>
                    <p class="text-gray-500 transition ease-in-out group-hover:text-gray-50">We offer sidewalk and curb installation services that complement your property's look and enhance its appeal.</p>
                </a>
            </div>

            <!-- Service 4 -->
            <div class="p-4 rounded-md transition ease-in-out group hover:bg-orange-500">
                <a href="#">
                    <div class="flex justify-center items-center mb-4 size-10 rounded-full *:transition *:ease-in-out lg:size-12">
                        <svg class="size-5 text-orange-600 lg:size-6 group-hover:hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden size-5 text-white lg:size-6 group-hover:block" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h10v10M7 17L17 7"/></svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold transition ease-in-out group-hover:text-white">Commercial</h3>
                    <p class="text-gray-500 transition ease-in-out group-hover:text-gray-50">Our team provides solutions for upgrading existing structures and installing new ones.</p>
                </a>
            </div>

            <!-- Service 5 -->
            <div class="p-4 rounded-md transition ease-in-out group hover:bg-orange-500">
                <a href="#">
                    <div class="flex justify-center items-center mb-4 size-10 rounded-full *:transition *:ease-in-out lg:size-12">
                        <svg class="size-5 text-orange-600 lg:size-6 group-hover:hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden size-5 text-white lg:size-6 group-hover:block" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h10v10M7 17L17 7"/></svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold transition ease-in-out group-hover:text-white">Footing Foundations</h3>
                    <p class="text-gray-500 transition ease-in-out group-hover:text-gray-50">We provide expert footing foundation installation services to ensure the stability and longevity of your property.</p>
                </a>
            </div>

            <!-- Service 6 -->
            <div class="p-4 rounded-md transition ease-in-out group hover:bg-orange-500">
                <a href="#">
                    <div class="flex justify-center items-center mb-4 size-10 rounded-full *:transition *:ease-in-out lg:size-12">
                        <svg class="size-5 text-orange-600 lg:size-6 group-hover:hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden size-5 text-white lg:size-6 group-hover:block" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h10v10M7 17L17 7"/></svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold transition ease-in-out group-hover:text-white">Patios</h3>
                    <p class="text-gray-500 transition ease-in-out group-hover:text-gray-50">We specialize in custom patio design and installation to enhance your property's appearance.</p>
                </a>
            </div>

            <!-- Service 7 -->
            <div class="p-4 rounded-md transition ease-in-out group hover:bg-orange-500">
                <a href="#">
                    <div class="flex justify-center items-center mb-4 size-10 rounded-full *:transition *:ease-in-out lg:size-12">
                        <svg class="size-5 text-orange-600 lg:size-6 group-hover:hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden size-5 text-white lg:size-6 group-hover:block" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h10v10M7 17L17 7"/></svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold transition ease-in-out group-hover:text-white">Residential</h3>
                    <p class="text-gray-500 transition ease-in-out group-hover:text-gray-50">Our team provides solutions for upgrading existing structures and installing new ones.</p>
                </a>
            </div>

            <!-- Service 8 -->
            <div class="p-4 rounded-md transition ease-in-out group hover:bg-orange-500">
                <a href="#">
                    <div class="flex justify-center items-center mb-4 size-10 rounded-full *:transition *:ease-in-out lg:size-12">
                        <svg class="size-5 text-orange-600 lg:size-6 group-hover:hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden size-5 text-white lg:size-6 group-hover:block" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h10v10M7 17L17 7"/></svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold transition ease-in-out group-hover:text-white">And much more!</h3>
                    <p class="text-gray-500 transition ease-in-out group-hover:text-gray-50">Our team provides solutions for upgrading existing structures and installing new ones.</p>
                </a>
            </div>

        </div>
        <!-- Service Container Ends -->
        
    </div>
</section>