---

---

<section class="bg-zinc-900 ">
    <div class="bg-[linear-gradient(to_right,#D9BA9950_2px,transparent_1px),linear-gradient(to_bottom,#D9BA9950_2px,transparent_1px)] bg-[size:300px_200px] [mask-image:radial-gradient(ellipse_65%_55%_at_50%_50%,#000_70%,transparent_100%)]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">

            <div class="max-w-screen-xl text-center mb-8 lg:mb-16">
                <h2 class="mb-4 text-lg tracking-tight font-medium text-gray-400">Why Choose Us</h2>
                <h3 class="mb-4 text-6xl tracking-tight font-bold text-gray-50">Quality Concrete Solutions</h3>
            </div>
    
            <!-- Points Container Starts -->
            <div class="space-y-8 sm:grid sm:grid-cols-1 lg:grid-cols-3 md:gap-12 md:space-y-0">
    
                <!-- Point 1 -->
                <div class="grid justify-items-center p-4 text-center">
                    <div class="flex justify-center items-center mb-4 size-10 rounded-full lg:size-12">
                        <svg width="47" height="46" viewBox="0 0 47 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M46.6126 32.4728L10.5649 0.777972L0 12.7938L36.0476 44.4887L46.6126 32.4728ZM31.4794 35.1458L36.7618 29.1378L40.3666 32.3073L35.0841 38.3152L31.4794 35.1458ZM21.5039 21.0486L25.1087 24.2181C26.0647 25.0587 27.2599 25.5483 28.4312 25.5794C29.6026 25.6104 30.6542 25.1803 31.3547 24.3836L34.9595 27.5531L29.677 33.561L11.6531 17.7136L16.9356 11.7056L20.5404 14.8751C19.8399 15.6718 19.5479 16.7698 19.7286 17.9276C19.9093 19.0853 20.5479 20.208 21.5039 21.0486ZM6.24601 12.9593L11.5285 6.95143L15.1332 10.1209L9.85082 16.1288L6.24601 12.9593Z" fill="#D9BA99"/>
                            <path d="M11.0026 25.1284L14.8026 28.4719L7.65669 36.8127L7.8861 40.3831L11.4565 40.1537L18.6024 31.8129L22.4022 35.1539L14.328 44.5558L3.61435 45.2442L2.92611 34.5331L11.0028 25.131L11.0026 25.1284ZM24.209 10.1111L32.0723 0.860552C32.2917 0.610712 32.5582 0.406582 32.8566 0.259812C33.1549 0.113046 33.4793 0.0265295 33.8111 0.00520746C34.143 -0.0161145 34.4757 0.0281785 34.7904 0.135552C35.1051 0.242925 35.3956 0.411273 35.6452 0.630973L43.2448 7.31292C43.7486 7.75602 44.0558 8.38107 44.0988 9.05061C44.1418 9.72013 43.9171 10.3794 43.4742 10.8833L35.6112 20.1389L31.8086 16.7931L38.0041 9.44473L34.2016 6.10143L28.0113 13.4519L24.209 10.1111Z" fill="#D9BA99"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold text-white">Tailored Solutions</h3>
                    <p class="text-gray-300">We offer customized concrete solutions to match our clients' specific needs and preferences.</p>
                </div>
    
                <!-- Point 2 -->
                <div class="grid justify-items-center p-4 text-center">
                    <div class="flex justify-center items-center mb-4 size-10 rounded-full lg:size-14">
                        <svg width="85" height="48" viewBox="0 0 85 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.2217 14.6921L16.9685 17.5977L22.7796 16.104L22.0328 13.1985L16.2217 14.6921ZM11.3889 23.6863L10.4076 26.5213L10.4089 26.5217L11.3889 23.6863ZM19.1306 32.1713L22.1297 32.2439L22.1298 32.2423L19.1306 32.1713ZM6.5574 32.6771L5.81167 29.7712L0 31.2627L0.745733 34.1685L6.5574 32.6771ZM14.3911 3V0H8.39107V3H14.3911ZM8.39107 8.93703C8.39107 10.5939 9.73417 11.937 11.3911 11.937C13.048 11.937 14.3911 10.5939 14.3911 8.93703H8.39107ZM8.39107 44.3793V47.3793H14.3911V44.3793H8.39107ZM14.3911 38.4423C14.3911 36.7854 13.048 35.4423 11.3911 35.4423C9.73417 35.4423 8.39107 36.7854 8.39107 38.4423H14.3911ZM22.0328 13.1985C20.8684 8.66828 16.198 5.97526 11.4676 5.97526V11.9753C14.2934 11.9753 15.9265 13.5439 16.2217 14.6921L22.0328 13.1985ZM11.4676 5.97526C6.16703 5.97526 0.647073 9.50077 0.647073 15.2002H6.64707C6.64707 14.0202 8.13012 11.9753 11.4676 11.9753V5.97526ZM0.647073 15.2002C0.647073 17.9061 1.9652 20.3457 3.68921 22.2073C5.43668 24.0943 7.79953 25.6186 10.4076 26.5213L12.3701 20.8513C10.6378 20.2517 9.12976 19.2517 8.09144 18.1305C7.02966 16.984 6.64707 15.9316 6.64707 15.2002H0.647073ZM10.4089 26.5217C12.2133 27.1453 13.7369 28.0978 14.755 29.1598C15.7679 30.2164 16.1521 31.2279 16.1314 32.1003L22.1298 32.2423C22.198 29.3613 20.8815 26.8803 19.0863 25.0077C17.2964 23.1406 14.9047 21.7272 12.3688 20.8508L10.4089 26.5217ZM16.1315 32.0987C16.1002 33.3936 14.5714 35.3973 11.3113 35.3973V41.3973C16.6891 41.3973 21.9946 37.826 22.1297 32.2439L16.1315 32.0987ZM11.3113 35.3973C8.48774 35.3973 6.85231 33.8262 6.5574 32.6771L0.745733 34.1685C1.9081 38.6978 6.57852 41.3973 11.3113 41.3973V35.3973ZM8.39107 3V8.93703H14.3911V3H8.39107ZM14.3911 44.3793V38.4423H8.39107V44.3793H14.3911Z" fill="#D9BA99"/>
                            <path d="M47.0012 14.6921L47.748 17.5977L53.5591 16.104L52.8123 13.1985L47.0012 14.6921ZM42.1684 23.6863L41.1871 26.5213L41.1884 26.5217L42.1684 23.6863ZM49.9101 32.1713L52.9092 32.2439L52.9093 32.2423L49.9101 32.1713ZM37.3369 32.6771L36.5912 29.7712L30.7795 31.2627L31.5253 34.1685L37.3369 32.6771ZM45.1706 3V0H39.1706V3H45.1706ZM39.1706 8.93703C39.1706 10.5939 40.5137 11.937 42.1706 11.937C43.8275 11.937 45.1706 10.5939 45.1706 8.93703H39.1706ZM39.1706 44.3793V47.3793H45.1706V44.3793H39.1706ZM45.1706 38.4423C45.1706 36.7854 43.8275 35.4423 42.1706 35.4423C40.5137 35.4423 39.1706 36.7854 39.1706 38.4423H45.1706ZM52.8123 13.1985C51.6479 8.66828 46.9775 5.97526 42.2471 5.97526V11.9753C45.0729 11.9753 46.706 13.5439 47.0012 14.6921L52.8123 13.1985ZM42.2471 5.97526C36.9466 5.97526 31.4266 9.50077 31.4266 15.2002H37.4266C37.4266 14.0202 38.9097 11.9753 42.2471 11.9753V5.97526ZM31.4266 15.2002C31.4266 17.9061 32.7447 20.3457 34.4688 22.2073C36.2162 24.0943 38.5791 25.6186 41.1871 26.5213L43.1496 20.8513C41.4173 20.2517 39.9093 19.2517 38.871 18.1305C37.8092 16.984 37.4266 15.9316 37.4266 15.2002H31.4266ZM41.1884 26.5217C42.9928 27.1453 44.5164 28.0978 45.5345 29.1598C46.5474 30.2164 46.9316 31.2279 46.9109 32.1003L52.9093 32.2423C52.9775 29.3613 51.661 26.8803 49.8658 25.0077C48.0759 23.1406 45.6842 21.7272 43.1483 20.8508L41.1884 26.5217ZM46.911 32.0987C46.8797 33.3936 45.3509 35.3973 42.0908 35.3973V41.3973C47.4686 41.3973 52.7741 37.826 52.9092 32.2439L46.911 32.0987ZM42.0908 35.3973C39.2673 35.3973 37.6319 33.8262 37.3369 32.6771L31.5253 34.1685C32.6876 38.6978 37.3581 41.3973 42.0908 41.3973V35.3973ZM39.1706 3V8.93703H45.1706V3H39.1706ZM45.1706 44.3793V38.4423H39.1706V44.3793H45.1706Z" fill="#D9BA99"/>
                            <path d="M77.7809 14.6921L78.5277 17.5977L84.3388 16.104L83.592 13.1985L77.7809 14.6921ZM72.9481 23.6863L71.9668 26.5213L71.9681 26.5217L72.9481 23.6863ZM80.6898 32.1713L83.6889 32.2439L83.689 32.2423L80.6898 32.1713ZM68.1166 32.6771L67.3709 29.7712L61.5592 31.2627L62.3049 34.1685L68.1166 32.6771ZM75.9503 3V0H69.9503V3H75.9503ZM69.9503 8.93703C69.9503 10.5939 71.2934 11.937 72.9503 11.937C74.6072 11.937 75.9503 10.5939 75.9503 8.93703H69.9503ZM69.9503 44.3793V47.3793H75.9503V44.3793H69.9503ZM75.9503 38.4423C75.9503 36.7854 74.6072 35.4423 72.9503 35.4423C71.2934 35.4423 69.9503 36.7854 69.9503 38.4423H75.9503ZM83.592 13.1985C82.4276 8.66828 77.7572 5.97526 73.0268 5.97526V11.9753C75.8526 11.9753 77.4857 13.5439 77.7809 14.6921L83.592 13.1985ZM73.0268 5.97526C67.7262 5.97526 62.2063 9.50077 62.2063 15.2002H68.2063C68.2063 14.0202 69.6893 11.9753 73.0268 11.9753V5.97526ZM62.2063 15.2002C62.2063 17.9061 63.5244 20.3457 65.2484 22.2073C66.9959 24.0943 69.3587 25.6186 71.9668 26.5213L73.9293 20.8513C72.197 20.2517 70.689 19.2517 69.6506 18.1305C68.5889 16.984 68.2063 15.9316 68.2063 15.2002H62.2063ZM71.9681 26.5217C73.7725 27.1453 75.2961 28.0978 76.3142 29.1598C77.3271 30.2164 77.7113 31.2279 77.6906 32.1003L83.689 32.2423C83.7572 29.3613 82.4407 26.8803 80.6455 25.0077C78.8556 23.1406 76.4639 21.7272 73.928 20.8508L71.9681 26.5217ZM77.6907 32.0987C77.6594 33.3936 76.1306 35.3973 72.8705 35.3973V41.3973C78.2483 41.3973 83.5538 37.826 83.6889 32.2439L77.6907 32.0987ZM72.8705 35.3973C70.0469 35.3973 68.4115 33.8262 68.1166 32.6771L62.3049 34.1685C63.4673 38.6978 68.1377 41.3973 72.8705 41.3973V35.3973ZM69.9503 3V8.93703H75.9503V3H69.9503ZM75.9503 44.3793V38.4423H69.9503V44.3793H75.9503Z" fill="#D9BA99" fill-opacity="0.3"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold text-white">Affordable Prices</h3>
                    <p class="text-gray-300">We offer high-quality services at affordable prices with a team of skilled professionals.</p>
                </div>
    
                <!-- Point 3 -->
                <div class="grid justify-items-center p-4 text-center">
                    <div class="flex justify-center items-center mb-4 size-10 rounded-full lg:size-12">
                        <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.3604 36.3825L11.8641 44.3966C11.344 44.8221 10.7766 45.0226 10.162 44.998C9.54735 44.9753 9.0036 44.7985 8.5308 44.4675C8.058 44.1365 7.692 43.6874 7.43293 43.12C7.17194 42.5526 7.15965 41.938 7.39605 41.276L11.4386 28.1557L1.155 20.8508C0.587632 20.4725 0.233027 19.9761 0.0911842 19.3615C-0.0506581 18.7468 -0.0270175 18.1794 0.162106 17.6594C0.351228 17.1392 0.682193 16.6778 1.155 16.2749C1.62781 15.8741 2.19518 15.6736 2.8571 15.6736H15.552L19.6654 2.05671C19.9018 1.39478 20.2687 0.886043 20.7661 0.53049C21.2616 0.176831 21.7931 0 22.3604 0C22.9277 0 23.4592 0.176831 23.9547 0.53049C24.4521 0.886043 24.819 1.39478 25.0554 2.05671L29.1689 15.6736H41.8637C42.5256 15.6736 43.093 15.8741 43.5658 16.2749C44.0386 16.6778 44.3696 17.1392 44.5587 17.6594C44.7478 18.1794 44.7715 18.7468 44.6296 19.3615C44.4878 19.9761 44.1332 20.4725 43.5658 20.8508L33.2822 28.1557L37.3247 41.276C37.5611 41.938 37.5498 42.5526 37.2907 43.12C37.0297 43.6874 36.6628 44.1365 36.19 44.4675C35.7172 44.7985 35.1734 44.9753 34.5588 44.998C33.9442 45.0226 33.3768 44.8221 32.8567 44.3966L22.3604 36.3825Z" fill="#D9BA99"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold text-white">Top Quality</h3>
                    <p class="text-gray-300">With a 4.9 star rating on Google reviews, our company ensures to support and understand you from consultation to completion.</p>
                </div>
    
            </div>
            <!-- Points Container Ends -->
            
        </div>
    </div>
    
</section>